# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# --- Machine Learning Artifacts ---
*.pt
*.pth
*.h5
*.joblib

# --- Data and Results ---
data/raw/*.csv
data/processed/*.csv
results/*.csv
results/tables/

# --- System & IDE Specific ---
.vscode/
.DS_Store
*.Zone.Identifier
.ipynb_checkpoints/

# --- Local Environment ---
.env
# Local python env name
.python-version