# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environment
.python-version
venv/
env/

# Data (Protect your CSVs)
data/raw/
data/processed/
*.csv

# Model Weights (Very Important!)
*.pt
*.pth

# OS/IDE specific
.vscode/
.DS_Store

# Build/Analysis artifacts
.ipynb_checkpoints/
results/tables/